html {
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #fff;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}
#menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(50px); /* Initially no blur */
  z-index: 1000;
  display: flex;  /* Use flexbox for layout */
  justify-content: space-between;  /* Space between logo and menu items */
  align-items: center;  /* Vertically center the items */
  padding: 10px 20px;  /* Add padding for some space inside the menu bar */
  transition: backdrop-filter 0.3s ease; /* Smooth transition */
}
#menu-bar .logo {
  display: flex;
  align-items: center;  /* Vertically center the logo */
}
#menu-bar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul li {
  margin: 5px 15px;
}
#menu-bar ul li a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 10px;
  transition: outline 0.1s ease;
}
#menu-bar ul li a:hover {
  background-color: transparent;  /* Remove background */
  outline: 2px solid #a4a4a4;
}
#menu-bar .logo img {
  height: 40px;  /* Set logo size */
  width: auto;   /* Maintain aspect ratio */
}

.menu-toggle {
  display: none; /* hidden on desktop */
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
}
.link-button {
  display: block;
  width: 65%;
  text-align: center;
  margin-top: 20px;
  padding: 8px;
  background-color: rgb(124, 15, 233);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;  /* Transition for background-color */
}
.link-button:hover {
  background-color: rgb(73, 14, 132);
}

.gallery {
  display: grid;
  grid-template-columns: 1;
  gap: 20px;
  margin: 20px 0;
  place-items: center;
}
.gallery-item {
  text-align: center;
}
.gallery img {
  width: 250px;
  height: auto;
  aspect-ratio: 1 / 1; /* Forces images to be square */
  object-fit: cover;   /* Ensures the image is cropped appropriately */
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Allocates proper space */
  justify-content: flex-start;
  align-items: center;
  gap: 30px; /* Keeps elements close */
}
@media screen and (max-width: 1024px) {
  #menu-bar {
    flex-wrap: wrap;
    padding-bottom: 10px;
  }
  .menu-bar ul li a {
    display: flex;
    text-align: center;
    background-color: #222;
    width: 100%;
    margin-top: 10px;
  }
  .nav-links.open {
    display: flex;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .gallery img {
    width: 175px;
    height: auto;
    aspect-ratio: 1 / 1; /* Forces images to be square */
    object-fit: cover;   /* Ensures the image is cropped appropriately */
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  }
}

body {
  margin:0;
}
body {
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size:14px;
  line-height:1.5;
  color: #fff;
  background-color: #000000;
}

.preloader-wrap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  perspective: 780px;
}
.nucleus {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* Centers the nucleus */
  width: 30px;
  height: 30px;
  background: transparent;
  box-shadow: inset 0 0 10px #fff;
  border-radius: 50%;
  z-index: 2;  /* Keeps nucleus above the circles */
}
.loading-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
}
.loading-circle-one {
   left: 0%;
   top: 0%;
   animation: loadingCircleOne 4.8s linear infinite;
   border-bottom: 8px solid #34ff2d;
}
.loading-circle-two {
   top: 0%;
   right: 0%;
   animation: loadingCircleTwo 5s linear infinite;
   border-right: 8px solid #722dff;
}
.loading-circle-three {
   right: 0%;
   bottom: 0%;
   animation: loadingCircleThree 5.2s linear infinite;
   border-top: 8px solid #2d81ff;
}
@keyframes loadingCircleOne {
   0% { transform: rotateX(40deg) rotateY(-40deg) rotateZ(0deg);  }
   100% { transform: rotateX(40deg) rotateY(-40deg) rotateZ(360deg);  }
}
@keyframes loadingCircleTwo {
   0% { transform: rotateX(50deg) rotateY(15deg) rotateZ(0deg); }
   100% { transform: rotateX(50deg) rotateY(15deg) rotateZ(360deg);  }
}
@keyframes loadingCircleThree {
   0% { transform: rotateX(15deg) rotateY(50deg) rotateZ(0deg); }
   100% { transform: rotateX(15deg) rotateY(50deg) rotateZ(360deg);  }
}

.container-lg {
  max-width:1012px;
  margin-right:auto;
  margin-left:auto
}
.px-3 {
  padding-right:16px !important;
  padding-left:16px !important
}
.my-5 {
  margin-top:32px !important;
  margin-bottom:32px !important
}




nav {
  display:block
}
a {
  background-color:transparent
}
a:active,
a:hover {
  outline-width:0
}
h1 {
  font-size:2em;
  margin:0.67em 0
}
img {
  border-style:none
}
::-webkit-input-placeholder {
  color:inherit;
  opacity:0.54
}
::-webkit-file-upload-button {
  -webkit-appearance:button;
  font:inherit
}
* {
  box-sizing:border-box
}

a {
  color:#0366d6;
  text-decoration:none
}
a:hover {
  text-decoration:white dotted underline
}
h1,
h3 {
  margin-top:0;
  margin-bottom:0
}
h1 {
  font-size:32px;
  font-weight:600
}
h3 {
  font-size:20px;
  font-weight:600
}
p {
  margin-top:0;
  margin-bottom:10px
}
ul {
  padding-left:0;
  margin-top:0;
  margin-bottom:0
}
